FarmsApi/Controllers/XMLFile1.xml

<?xml version='1.0' encoding='utf-8'?>
<xs:schema attributeFormDefault='unqualified' elementFormDefault='qualified' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:element name='XMLInput'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='ActionCode' minOccurs='1' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:int'>
              <xs:minInclusive value='10'></xs:minInclusive>
              <xs:maxInclusive value='11'></xs:maxInclusive>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name='UserName' minOccurs='1' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:string'>
              <xs:minLength value='1'></xs:minLength>
              <xs:maxLength value='25'></xs:maxLength>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name='Password' minOccurs='1' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:string'>
              <xs:minLength value='1'></xs:minLength>
              <xs:maxLength value='20'></xs:maxLength>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name='SupplierID' minOccurs='1' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:int'>
              <xs:minInclusive value='1'></xs:minInclusive>
              <xs:maxInclusive value='999999'></xs:maxInclusive>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name='ClinicID' minOccurs='0' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:int'>
              <xs:minInclusive value='0'></xs:minInclusive>
              <xs:maxInclusive value='999999'></xs:maxInclusive>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name='InsuredID' minOccurs='1' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:long'>
              <xs:minInclusive value='1'></xs:minInclusive>
              <xs:maxInclusive value='999999999'></xs:maxInclusive>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name='InsuredFirstName' minOccurs='1' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:string'>
              <xs:minLength value='2'></xs:minLength>
              <xs:maxLength value='20'></xs:maxLength>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name='InsuredLastName' minOccurs='1' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:string'>
              <xs:minLength value='2'></xs:minLength>
              <xs:maxLength value='20'></xs:maxLength>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name='SectionCode' minOccurs='1' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:int'>
              <xs:minInclusive value='1'></xs:minInclusive>
              <xs:maxInclusive value='99999'></xs:maxInclusive>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name='CareCode' minOccurs='1' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:int'>
              <xs:minInclusive value='1'></xs:minInclusive>
              <xs:maxInclusive value='999'></xs:maxInclusive>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name='CareDate' minOccurs='1' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:string'>
              <xs:minLength value='8'></xs:minLength>
              <xs:maxLength value='8'></xs:maxLength>
              <xs:pattern value='[0-9]{8}'></xs:pattern>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name='DoctorID' minOccurs='1' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:int'>
              <xs:minInclusive value='1'></xs:minInclusive>
              <xs:maxInclusive value='999999'></xs:maxInclusive>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name='OnlineServiceType' minOccurs='0' maxOccurs='1'>
          <xs:simpleType>
            <xs:restriction base='xs:int'>
              <xs:minInclusive value='0'></xs:minInclusive>
              <xs:maxInclusive value='3'></xs:maxInclusive>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
 
